# Server
NODE_ENV=development

# API Gateway
GATEWAY_PORT=5000

# Auth Service
AUTH_PORT=5001
JWT_SECRET=dev-secret-key-change-me
JWT_EXPIRES_IN=24h
BCRYPT_ROUNDS=12

# Document Service
DOCUMENT_PORT=5002
MAX_FILE_SIZE=524288000

# Processing Service
PROCESSING_PORT=5003

# Notification Service
NOTIFICATION_PORT=5004


VENDOR_PORT=5005
PRODUCT_PORT=5006
ORDER_PORT=5007

# Upload Service
UPLOAD_PORT=5008

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=vender_managment
DB_USER=root
DB_PASS=deep70

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=test123

# AWS S3
AWS_REGION=xx
AWS_ACCESS_KEY_ID=xx
AWS_SECRET_ACCESS_KEY=xx
S3_BUCKET=xx
AMAZON_ACL=xx
AMAZON_PREFIX=xxx

# Encryption
ENCRYPTION_KEY=abcdefghijklmnopqrstuvwxyz123456

# Sentry (optional)
SENTRY_DSN=
